.bg-black{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  color: black;
}
.modal-content{
	display: none;
}